<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- permite que la pagina sea responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mis Eventos-Organizador</title>

    <!-- fuente opcional para detalles visuales -->
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">

    <!-- rutas para desarrollo con live server -->
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/layout.css">
    <link rel="stylesheet" href="../../public/css/componentes.css">
    <link rel="stylesheet" href="../../public/css/paginas.css">
    <link rel="stylesheet" href="../../public/css/responsive.css">

    <!-- rutas para backend (usar despues) -->
    <!--
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/componentes.css">
    <link rel="stylesheet" href="/css/paginas.css">
    <link rel="stylesheet" href="/css/responsive.css">
    -->
</head>

<body class="mis-eventos-org-page">
    <header class="navbar">
        <div class="navbar-contenido">

            <div class="navbar-izquierda">
                <h1 class="logo-sistema">tecEventos</h1>

                <nav class="menu-nav">
                    <a href="inicio-organizador.html">Inicio</a>
                    <a href="eventos-organizador.html">Eventos</a>
                    <a href="mis-inscripciones.html">Mis Inscritos</a>
                    <a href="mis-eventos.html">Mis Eventos</a>
                    <a href="crear-evento.html">Crear Evento</a>
                    <a href="anuncios-organizador.html">Ver Anuncios</a>
                </nav>
            </div>

            <div class="navbar-derecha">
                <img src="../../public/assets/iconos/icono-usuario.png" alt="Perfil" class="icono-perfil">
            </div>

        </div>
    </header>

    <main class="container seccion">

        <section class="seccion">
            <h2 class="titulo-vista">Mis Eventos</h2>
        </section>
       
        <!--
            LISTA DE EVENTOS PARA ADMIN

            IMPORTANTE:
            Esta lista es temporal y debe llenarse con datos reales desde backend.
            Probablemente con un for -->
        <!-- CONTENEDOR: contenedor-eventos-org -->
        <section id="contenedor-eventos-org">

            <article class="card-evento card-evento-horizontal">
                <div class="info-evento">
                    <p><strong>Título:</strong> Hablemos del Covid-19</p>
                    <p><strong>Fecha:</strong> 25/03/2026</p>
                    <p><strong>Estado:</strong> Aprobado</p>
                </div>

                <div class="accion-evento">
                    <!--Nota: se manda a evento aprobado para que no se caiga
                    si presionamos el boton, pero la logica de si te manda a pendiente
                    o a aprobado depende de si el evento esta aprobado o no , y eso
                    creo que se verificaria en backend-->
                    <a href="evento-aprobado.html" class="btn btn-primary">Detalles</a>
                </div>
            </article>

            <article class="card-evento card-evento-horizontal">
                <div class="info-evento">
                    <p><strong>Título:</strong> Drácula y el horror gótico</p>
                    <p><strong>Fecha:</strong> 25/03/2026</p>
                    <p><strong>Estado:</strong> Aprobado</p>
                </div>

                <div class="accion-evento">
                    <a href="evento-aprobado.html" class="btn btn-primary">Detalles</a>
                </div>
            </article>

        </section>

    </main>

    <!-- js para desarrollo -->
    <script type="module" src="../../main.js"></script>

    <!-- js para backend -->
    <!-- <script src="/js/main.js"></script> -->

</body>
</html>